.divider-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
}

.divider-section div {
  text-align: center;
}

.divider-section i {
  font-size: 1.3rem;
  color: #8ffff7;
}

.divider-section p {
  margin-top: 0.5rem;
  color: white;
}

.light-theme .divider-section p {
  color: black;
}
