/* Main Color: #222222 */
/* Secondary Color: #8FFFF7
#9ffff8 
#affff9
#c6fffb
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Nunito', sans-serif;
}

/* Default Light Theme */
body.light-theme {
  overflow-x: hidden;
  color: black;
  background-color: #fff;
}

/* Default Dark Theme */
body.dark-theme {
  overflow-x: hidden;
  color: white;
  background-color: #222;
}

.container {
  max-width: 1200px;
  position: relative;
}

.dark-theme .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 25%;
  border-radius: 1.25rem;
  opacity: 0.5;
  background: linear-gradient(90deg, #9ffff8, #c6fffb);
  filter: blur(7.8125rem);
  z-index: -1;
}
