.dark-theme .container-cards {
  background-color: #444;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.5);
}

.light-theme .container-cards {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.carousel .card {
  height: 29.6875rem;
  display: flex;
  flex-direction: column;
  border: none;
}

.carousel .card-img-top {
  height: 25rem;
  object-fit: cover;
}

.dark-theme .card-body {
  background-color: #666;
}

.dark-theme .card-text {
  color: #9ffff8;
}
