.dark-theme .container-cards {
  background-color: #444;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.carousel .card {
  height: 475px;
  display: flex;
  flex-direction: column;
  border: none;
}

.carousel .card-img-top {
  height: 400px;
  object-fit: cover;
}

.dark-theme .card-body {
  background-color: #666;
}

.dark-theme .card-text {
  color: #9ffff8;
}
