.dark-theme .container-cards {
  background-color: #444;
  color: white;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.5);
}

.light-theme .container-cards {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.carousel .card {
  height: 29.6875rem;
  display: flex;
  border: none;
}

.dark-theme .carousel .card {
  background-color: #222;
}

.carousel .card-img-top {
  max-width: 37.5rem;
  width: 100%;
  height: 25rem;
  align-self: center;
  object-fit: cover;
}

@media (min-width: 576px) {
  .carousel .card {
    height: 35rem;
  }

  .carousel .card-img-top {
    height: 28.125rem;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .carousel .card {
    height: 42rem;
  }

  .carousel .card-img-top {
    height: 37.5rem;
    object-fit: cover;
  }
}

.dark-theme .card-body {
  background-color: #666;
}

.dark-theme .card-text {
  color: #9ffff8;
}
